<app-header></app-header>
<section class="relative py-5 sm:py-10 lg:py-15 bg-[#334d42] hero-bg">
  <div class="absolute inset-0 bg-[#334d42] opacity-80"></div>
  <div class="relative container mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold text-white mt-10 mb-6 sm:mb-8">
      Contact Us
    </h2>
    <p class="text-base sm:text-lg text-white leading-relaxed mb-8 sm:mb-10 max-w-3xl mx-auto">
      Ready to start your project? Get in touch with our team for professional civil engineering and construction consulting services.
    </p>
  </div>
</section>


<app-footer></app-footer>
